name: Rust build, test, and generate specification

on:
  push:
    branches: [main]
  pull_request:

concurrency: 
  group: ${{ github.head_ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Rust project
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v2

      # Using our own runners for now:
      # - name: Free up disk space
      #   run: |
      #     sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc

      - name: Install latest stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest@0.9.119

      - name: Run cargo build
        run: cargo build

      - name: Run services in background
        run: |
          docker compose -f compose.yml up -d

      - name: Run cargo test
        env:
          TEST_DB: REFERENCE
        run: |
          cargo nextest run

      - name: Run cargo test (with MongoDB)
        env:
          TEST_DB: MONGODB
          MONGODB: mongodb://localhost
        run: |
          cargo nextest run

      - name: Start API in background
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        env:
          TEST_DB: REFERENCE
        run: |
          cargo build --bin revolt-delta && (cargo run --bin revolt-delta &)

      - name: Wait for API to go up
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: nev7n/wait_for_response@v1
        with:
          url: "http://localhost:14702/"

      - name: Checkout API repository
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: actions/checkout@v3
        with:
          repository: stoatchat/javascript-client-api
          path: api
          ssh-key: ${{ secrets.DEPLOY_KEY_JAVASCRIPT_CLIENT_API }}

      - name: Download OpenAPI specification
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        run: curl http://localhost:14702/openapi.json -o api/OpenAPI.json

      - name: Commit changes
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        uses: EndBug/add-and-commit@v4
        with:
          cwd: "api"
          add: "*.json"
          author_name: Revolt CI
          author_email: revolt-ci@users.noreply.github.com
          message: "chore: generate OpenAPI specification"
